<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="enablehttp">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>      
    </behaviors>
    <services>
      <service name="LogicaCollatz.ServicioCollatz" behaviorConfiguration="enablehttp">
        <endpoint binding="basicHttpBinding" contract="LogicaCollatz.IcontratoCollatz"/>
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>