<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IcontratoCollatz" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55222/Collatz.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IcontratoCollatz" contract="ServiceReference1.IcontratoCollatz"
                name="BasicHttpBinding_IcontratoCollatz" />
        </client>
    </system.serviceModel>
</configuration>